body{
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 20);
  font-family: sans-serif;
}

.container {
  background-color: rgb(61, 60, 66) ;  
  color: #f0f8ff;
  margin: 3% 0 0 5%;
  border: 1px #c4c4cc solid;
  border-left: 10px #c4c4cc solid;
  border-bottom: 7px #c4c4cc solid;
  border-radius: 20px;
  width: 90vw;
  height: 87vh;
  box-shadow: 0em 0em 50px 1em rgb(130, 87, 229);
}

